<ion-view cache-view="false" view-title="Search">
  <ion-content>
  <!--<option ng-repeat="account in accountlist"</option>-->

    <div class="list">

  <label class="item item-input item-select">
    <div class="input-label">
      Planes
    </div>
    
    <select id="chosenPlane" ng-model="selectValue" ng-change="searchme()">
      <option ng-repeat="plane in planes">{{plane.name}}</option>
     
    </select>
  </label>

</div>

<!--<div class="item item-input-inset">-->
      <!--<label class="item-input-wrapper">
        <input type="text" placeholder="Company" id="mycompanyname">
      </label>-->
      <!--<button class="button button-small" ng-click="searchme()">
        Lookup
      </button>

      <button class="button icon-left ion-search" ng-click="searchme()">Find</button>
  

    </div>-->
    <!--<ion-list>
      <ion-item class="item-avatar" ng-repeat="account in accountlist" type="item-text-wrap">
        <h2>{{account.companyname}}</h2>
      </ion-item>
    </ion-list>-->
<div class="list" ng-model="thisplane" ng-show="showme">
    <div class="list card">
      <ion-item type="item-text-wrap">
        <!--<div class="item item-avatar">-->
          <center><img src="{{thisplane.planeimg}}" width="300"></img></center>
          <h2>{{thisplane.name}}</h2>
          <p>{{thisplane.capacity}}</p>
          <p>{{thisplane.speed}}</p>
          <p>{{thisplane.wingspan}}</p>
          <!--<p>Desc: {{bike.desc}}</p>-->
       <!-- </div>-->

        <div class="item item-body">
          <p>
            {{thisplane.propulsion}}
          </p>
        </div>
      </ion-item>
    </div></div>

  </ion-content>
</ion-view>
